body {
  text-align: center;
  background-color: black;
  color: yellow;
  font-family: 'Courier New', Courier, monospace;
}

#game {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  width: 400px;
  margin: auto;
  margin-top: 20px;
}

.square {
  width: 20px;
  height: 20px;
}

.wall {
  background-color: blue;
}

.pac-dot {
  background-color: white;
  border-radius: 50%;
}

.pacman {
  background-color: yellow;
  border-radius: 50%;
}

.ghost {
  background-color: red;
  border-radius: 50%;
}
